apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-pdb-deployment
  namespace: default
  labels:
    app: demo-pdb
spec:
  minReadySeconds: 30 # <--- NUEVO: Espera 30s después de que el pod esté Ready antes de seguir. Frena el rollout.
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1        # <--- CAMBIO: Solo 1 pod nuevo a la vez (más lento y seguro).
      maxUnavailable: 0  # <--- CRÍTICO: Nunca bajar del 100% de capacidad.
  selector:
    matchLabels:
      pod: demo-pdb-pod
  template:
    metadata:
      labels:
        app: demo-pdb
        pod: demo-pdb-pod
    spec:
      terminationGracePeriodSeconds: 60 # Dar tiempo al preStop
      containers:
        - name: demo-pdb-container
          image: demo-pdb:v2
          imagePullPolicy: Never
          ports:
            - containerPort: 8080
          lifecycle: # <--- NUEVO: Graceful Shutdown real
            preStop:
              exec:
                command: ["/bin/sh", "-c", "sleep 10"]
          resources:
            requests:
              memory: "256Mi"
              cpu: "200m"
            limits:
              memory: "512Mi"
              cpu: "500m"
          startupProbe:
            httpGet:
              path: /actuator/health/readiness
              port: 8080
            periodSeconds: 5
            timeoutSeconds: 5
            successThreshold: 1
            failureThreshold: 20
            initialDelaySeconds: 5
          livenessProbe:
            httpGet:
              path: /actuator/health/liveness
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 10
            timeoutSeconds: 5
            successThreshold: 1
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /actuator/health/readiness
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 5
            timeoutSeconds: 5
            successThreshold: 1
            failureThreshold: 3
