apiVersion: v1
kind: Service
metadata:
  name: demo-pdb-service
  namespace: default
spec:
  type: NodePort
  selector:
    pod: demo-pdb-pod
  ports:
    - name: http
      protocol: TCP
      port: 80
      targetPort: 8080
      nodePort: 30080
